<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.ebsoft.mapper.BoardMapper">

    <resultMap id="BoardsResultMap" type="Board">
        <id property="boardIdx" column="boardIdx"/>
        <result property="categoryIdx" column="categoryIdx"/>
        <result property="categoryName" column="name"/>
        <result property="title" column="title"/>
        <result property="writer" column="writer"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="regDate" column="regdate"/>
        <result property="modDate" column="moddate"/>

        <collection property="files" ofType="File">
            <id property="fileIdx" column="fileIdx"/>
            <result property="originalName" column="originalName"/>
            <result property="fileSize" column="fileSize"/>
        </collection>
    </resultMap>

    <select id="findAllBySearchCondition" parameterType="Map" resultMap="BoardsResultMap" useCache="false" flushCache="true">
        SELECT b.boardIdx,
        c.categoryIdx,
        c.name,
        b.title,
        b.writer,
        b.content,
        b.hit,
        b.regdate,
        b.moddate,
        f.fileIdx,
        f.originalName,
        f.fileSize,
        f.boardIdx
        FROM tb_board b
        JOIN tb_category c ON b.categoryIdx = c.categoryIdx
        LEFT OUTER JOIN tb_file f ON b.boardIdx = f.boardIdx
        WHERE
        <if test="searchCondition.startDate != null">
            b.regDate >= DATE_FORMAT(#{searchCondition.startDate}, '%Y-%m-%d') AND
        </if>
        <if test="searchCondition.endDate != null">
            DATE_FORMAT(#{searchCondition.endDate}, '%Y-%m-%d') >= b.regDate AND
        </if>
        <if test="searchCondition.categoryIdx != null">
            b.categoryIdx = #{searchCondition.categoryIdx} AND
        </if>
        <if test="searchCondition.keyword != null">
            (b.title LIKE CONCAT('%', #{searchCondition.keyword}, '%') OR b.writer LIKE CONCAT('%', #{searchCondition.keyword}, '%') OR b.content LIKE
            CONCAT('%', #{searchCondition.keyword}, '%')) AND
        </if>
        1=1
        ORDER BY b.boardIdx DESC
        LIMIT #{page.recordStartIndex}, #{page.recordsPerPage}
    </select>


    <select id="findByBoardIdx" parameterType="Long" resultType="Board" useCache="false" flushCache="true">
        SELECT b.boardIdx,
               c.categoryIdx,
               c.name AS categoryName,
               b.title,
               b.writer,
               b.content,
               b.password,
               b.hit,
               b.regdate,
               b.moddate
        FROM tb_board b
                 JOIN tb_category c ON b.categoryIdx = c.categoryIdx
        WHERE b.boardIdx = #{boardIdx};
    </select>

    <select id="findBoardCount" useCache="false" flushCache="true">
        SELECT count(boardIdx)
        FROM tb_board b
        JOIN tb_category c ON b.categoryIdx = c.categoryIdx
        WHERE
        <if test="searchCondition.startDate != null">
            b.regDate >= DATE_FORMAT(#{searchCondition.startDate}, '%Y-%m-%d') AND
        </if>
        <if test="searchCondition.endDate != null">
            DATE_FORMAT(#{searchCondition.endDate}, '%Y-%m-%d') >= b.regDate AND
        </if>
        <if test="searchCondition.categoryIdx != null">
            b.categoryIdx = #{searchCondition.categoryIdx} AND
        </if>
        <if test="searchCondition.keyword != null">
            (b.title LIKE CONCAT('%', #{searchCondition.keyword}, '%') OR b.writer LIKE CONCAT('%', #{searchCondition.keyword}, '%') OR b.content LIKE
            CONCAT('%', #{searchCondition.keyword}, '%')) AND
        </if>
        1=1
    </select>

    <update id="increaseHit" parameterType="Long">
        UPDATE tb_board
        SET hit = hit + 1
        WHERE boardIdx = #{boardIdx}
    </update>

    <insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="boardIdx">
        INSERT INTO tb_board (categoryIdx, title, writer, content, password, hit, regdate)
        VALUES (#{categoryIdx}, #{title}, #{writer}, #{content},
                #{password}, 0, NOW());
    </insert>

    <update id="update" parameterType="Board">
        UPDATE tb_board
        SET title   = #{title},
            writer  = #{writer},
            content = #{content},
            moddate = #{modDate}
        WHERE boardIdx = #{boardIdx}
          and password = #{password}
    </update>

    <delete id="delete" parameterType="Board">
        DELETE
        FROM tb_board
        WHERE boardIdx = #{boardIdx}
          and password = #{password}
    </delete>

</mapper>